@model ApiUsuarios.WEB.Models.UsuarioDto

<h2>Detalle usuario</h2>

<p><b>Id:</b> @Model.Id</p>
<p><b>Nombre:</b> @Model.Nombre</p>
<p><b>Correo:</b> @Model.Apellido</p>
<p><b>Teléfono:</b> @Model.Edad</p>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
